.obsidian/workspace
.obsidian/workspace.json
workspace.json

appearance.json
community-plugins.json
core-plugins-migration.json
core-plugins.json

.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json